@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &:after {
      transform: scaleY(0.7);
    }
  }
  .line {
    &:after {
      transform: scaleY(0.7);
    }
  }
  .border-top1px {
    &:before {
      transform: scaleY(0.7);
    }
  }
  .border-right-1px {
    &:after {
      transform: scaleX(0.7);
    }
  }
  .border1px {
    &:after {
      transform: scaleX(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px {
    &:after {
      transform: scaleY(0.5);
    }
  }
  .line {
    &:after {
      transform: scaleY(0.5);
    }
  }
  .border-top1px {
    &:before {
      transform: scaleY(0.5);
    }
  }
  .border-right-1px {
    &:after {
      transform: scaleX(0.5);
    }
  }
  .border1px {
    &:after {
      transform: scaleX(0.5);
      transform: scaleY(0.5);
    }
  }
}
